*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}


header{
  background-color: black;  
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem ;
}

.parentbody{
    background-color: rgb(129, 164, 129);
    height: 100vh;
    
}


#intro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#when{
    display: flex;
    gap: 5px;
}
#where{
    display: flex;
    gap: 5px;
}


.countdown {
  
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, auto);
  justify-content: start; 
  row-gap: 2rem;
  column-gap: 4rem;
  margin-left: 5rem;
  color: white;
}

.days {
  grid-column: 2 / 3; 
  text-align: center;
}

#days {
    font-size: 7rem;
    font-weight: 900; /* or bold */
}


.time-units {
  grid-column: 1 / 4;
  display: flex;
  gap: 4rem;
  justify-content: start;
}

.time-units > div {
  text-align: center;
}

.number {
  font-size: 3rem;
}

.label {
  font-size: 1.5rem;
}

